<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>理工課表查詢</title>

  <link href="css/bulma.min.css" rel="stylesheet" />
  <link href='css/fullcalendar.min.css' rel='stylesheet' />
  <link href='css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
  <style>
    body {
      margin: 0;
      margin-top: 20px;
    }
    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }
    [v-cloak] {
      display: none;
    }
    .tabs.is-toggle li.is-active a {
      background: #3273dc;
    }
    .search-box {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    #main {
      margin-bottom: 20px;
    }
    #courses {
      display: block;
    }
    #courses-mobile {
      display: none;
    }


    @media screen and (max-width: 700px) {
      #app {
        padding: 0 15px;
      }
      #courses {
        display: none;
      }
      #courses-mobile {
        display: block;
      }
      #search-options > div:nth-child(n+3) {
        display: inline-block;
      }
      #search-options > div:nth-child(n+6){
        width: 50%;
        float: left;
        display: block;
      }
    }
  </style>
</head>
<body>
  <div id="app" class="container" v-cloak>
    <div class="message is-dark">
      <div class="message-header">
        <h1>理工課表查詢</h1>
        <span class="tag is-white is-rounded">Test v0.91</span>
      </div>
      <div class="message-body">
        <div class="notification is-info">
          添加功能，匯出成 CSV 格式（用於 google calendar 導入) - 先按條件搜尋完再匯出
        </div>

        <small>測試版本，僅作參考 <a href="https://wapps.ipm.edu.mo/siweb/time_prog.asp">官方查詢</a></small>
        <br>
        <small><a href="https://github.com/godkinmo/ipm_time_table">最後更新日期，2017-08-19</a></small>
      </div>
    </div>

    <div id="courses" class="tabs is-toggle is-centered">
      <ul>
        <li v-for="(school, index) in schools" :class="{'is-active': index==form.schoolIndex}">
          <a @click="changeSchoolIndex(index)">{{school.name}}</a>
        </li>
      </ul>
    </div>
    <div id="courses-mobile">
      <div class="field">
        <p class="help">學校</p>
        <div class="control">
          <div class="select">
            <select v-model.number="form.schoolIndex" @change="changeSchoolIndex2()">
              <option v-for="(school, index) in schools" :value="index">
                {{ school.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <br>
    </div>

    <div id="search-options" class="columns is-centered">
      <div class="column is-2">
        <div class="field">
          <p class="help">年度／學期</p>
          <div class="control">
            <div class="select">
              <select v-model.number="form.yearSem">
                <option>2017/2018-1</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="field">
          <p class="help">課程</p>
          <div class="control">
            <div class="select">
              <select v-for="(school, index) in schools" v-if="index==form.schoolIndex" v-model.number="form.programIndex" >
                <option v-for="(program, index2) in school.programs" :value="index2">{{ program.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-1">
        <div class="field">
          <p class="help">年級</p>
          <div class="control">
            <div class="select">
              <select v-model.number="form.classYear">
                <option value=""></option>
                <option v-for="i in 4" :value="i">{{ i }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-2">
        <div class="field">
          <p class="help">班別</p>
          <div class="control">
            <div class="select">
              <select v-for="(school, index) in schools" v-if="index==form.schoolIndex" v-model="form.classNum">
                <option value=""></option>
                <option v-show="isShowClass(index2)" v-for="(program, index2) in school.programs[form.programIndex].result" :value="index2">{{ index2 }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-1">
        <label for="color" class="help">顏色開關</label>
        <label class="checkbox">
          <input id="color" type="checkbox" v-model="programDiffColor">
        </label>
      </div>
      <div class="column is-1 search-box">
        <button @click="search" class="button is-info">搜尋</button>
      </div>
      <div class="column is-1 search-box">
        <div class="field">
          <p class="help">Google CSV</p>
          <div class="control">
            <button @click="exportCsv" class="button is-warning">匯出</button>
          </div>
        </div>
      </div>
    </div>

    <div id="main">
      <div id="calendar"></div>
    </div>
  </div>

  <footer class="footer">
      <div class="has-text-centered">© 2017 by <a href="#"><strong>Godkin</strong></a></div>
  </footer>
</body>

<script src='js/moment.min.js'></script>
<script src='js/jquery.min.js'></script>
<script src='js/fullcalendar.min.js'></script>
<script src="js/axios.min.js"></script>
<script src="js/vue.min.js"></script>

<script>
$(function() {
  // https://stackoverflow.com/questions/3426404/create-a-hexadecimal-colour-based-on-a-string-with-javascript
  function hashCode(str) { // java String#hashCode
      var hash = 0;
      for (var i = 0; i < str.length; i++) {
         hash = str.charCodeAt(i) + ((hash << 5) - hash);
      }
      return hash;
  }
  function intToRGB(i){
      var c = (i & 0x00FFFFFF)
          .toString(16)
          .toUpperCase();

      return "00000".substring(0, 6 - c.length) + c;
  }

  var app = new Vue({
    el: '#app',
    data: {
      programDiffColor: false,
      schools: [],
      form: {
        schoolIndex: 0,
        programIndex: 0,
        classYear: '',
        yearSem: '2017/2018-1',
        classNum: '',
      },
      events: [],
      csvEncodeUri: 'data:text/csv;charset=utf-8,',
      csvContent: '',
      specialEvents: [
        {title: '開學禮', start: '2017-08-18', color: 'hsl(348, 100%, 61%)'}, {start: '2017-08-18', rendering: 'background', color: 'hsl(348, 100%, 61%)'},
        {title: '開學', start: '2017-08-21', color: 'hsl(348, 100%, 61%)'}, {start: '2017-08-21', rendering: 'background', color: 'hsl(348, 100%, 61%)'},
        {title: '國慶節', start: '2017-10-01', color: 'hsl(348, 100%, 61%)'}, {start: '2017-10-01', rendering: 'background', color: 'hsl(348, 100%, 61%)'},
        {title: '國慶節翌日', start: '2017-10-02', color: 'hsl(348, 100%, 61%)'}, {start: '2017-10-02', rendering: 'background', color: 'hsl(348, 100%, 61%)'},
        {title: '中秋節翌日', start: '2017-10-05', color: 'hsl(348, 100%, 61%)'}, {start: '2017-10-05', rendering: 'background', color: 'hsl(348, 100%, 61%)'},
        {title: '重陽節', start: '2017-10-28', color: 'hsl(348, 100%, 61%)'}, {start: '2017-10-28', rendering: 'background', color: 'hsl(348, 100%, 61%)'},
        {title: '重陽節後首個工作日', start: '2017-10-30', color: 'hsl(348, 100%, 61%)'}, {start: '2017-10-30', rendering: 'background', color: 'hsl(348, 100%, 61%)'},
        {title: '追思節', start: '2017-11-02', color: 'hsl(348, 100%, 61%)'}, {start: '2017-11-02', rendering: 'background', color: 'hsl(348, 100%, 61%)'},
        {title: '課堂結束', start: '2017-11-27', color: 'hsl(348, 100%, 61%)'}, {start: '2017-11-27', rendering: 'background', color: 'hsl(348, 100%, 61%)'},
        {title: '複習/補課', start: '2017-11-28', end: '2017-12-05', color: 'hsl(348, 100%, 61%)'}, {start: '2017-11-28', end: '2017-12-05', rendering: 'background', color: 'hsl(348, 100%, 61%)'},
      ],
    },
    mounted() {
      axios.get('result.json').then((response)=>{
        this.schools = response.data
        this.reset()
        this.renderCalendar()
      })
    },
    methods: {
      changeSchoolIndex(index) {
        if (index != this.form.schoolIndex) {
          this.form.schoolIndex = index
          this.form.programIndex = 0
          this.form.classNum = ''
        }
      },
      changeSchoolIndex2() {
        this.form.programIndex = 0
        this.form.classNum = ''
      },
      reset() {
        // CSV Format
        // header: Subject, Start Date, Start time, End Date, End Time, All Day Event, Location
        // row: 期末考,05/30/2020, 10:00 AM, 05/30/2020, 1:00 PM, False, Location
        this.events.length = 0
        this.csvContent = 'Subject, Start Date, Start time, End Date, End Time, All Day Event, Location\n'
        for (let i of this.specialEvents) {
          if (i.title != null) {
            let r = {
              subject: i.title,
              startDate: moment(i.start, 'YYYY-MM-DD').format('MM/DD/YYYY'),
              startTime: '',
              endDate: '',
              endTime: '',
              allDayEvent: 'True',
              location: ''
            }
            this.csvContent += r.subject + ',' + r.startDate + ',' + r.startTime + ',' + r.endDate + ',' + r.endTime + ',' + r.allDayEvent + ',' + r.location + '\n'
          }
          this.events.push(i)
        }
        $('#calendar').remove()
        $('#main').append($('<div id="calendar"></div>'))
      },
      renderCalendar() {
        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,basicDay'
          },
          minTime: '09:00',
          defaultDate: '2017-08-21',
          navLinks: true, // can click day/week names to navigate views
          editable: true,
          eventLimit: true, // allow "more" link when too many events
          fixedWeekCount: false,
          events: this.events,
        })
      },
      search() {
        this.reset()

        var school = this.schools[this.form.schoolIndex].programs[this.form.programIndex]

        if (this.form.classNum != '') {
          for (let i in school.result[this.form.classNum]['courses']) {
            var obj = school.result[this.form.classNum]['courses'][i]
            var startDate = moment(obj.startDate.replace(/\//g, "-"), 'YYYY-MM-DD')
            var endDate = moment(obj.endDate.replace(/\//g, "-"), 'YYYY-MM-DD')

            if (this.form.classYear != '' && obj.year != this.form.classYear) continue

            if (obj.endDate != '') {
              for (
                let j=startDate;
                moment(j.format('YYYY-MM-DD')).isBetween(startDate.format('YYYY-MM-DD'), endDate.format('YYYY-MM-DD'), null, '[]');
                j = j.add(1,'day'))
              {
                if ($.inArray(j.day(), obj.days) >= 0) {
                  // CSV Format
                  // header: Subject, Start Date, Start time, End Date, End Time, All Day Event, Location
                  // row: 期末考,05/30/2020, 10:00 AM, 05/30/2020, 1:00 PM, False, Location
                  if (obj.name != null) {
                    let r = {
                      subject: obj.name,
                      startDate: j.format('MM/DD/YYYY'),
                      startTime: obj.startTime + ' ' + (obj.startTime > '12:00' ? 'PM' : 'AM'),
                      endDate: j.format('MM/DD/YYYY'),
                      endTime: obj.endTime + ' ' + (obj.endTime > '12:00' ? 'PM' : 'AM'),
                      allDayEvent: 'False',
                      location: obj.room,
                    }
                    this.csvContent += r.subject + ',' + r.startDate + ',' + r.startTime + ',' + r.endDate + ',' + r.endTime + ',' + r.allDayEvent + ',' + r.location + '\n'
                  }
                  this.events.push({
                    title: obj.name + '\n' +obj.room,
                    start: j.format('YYYY-MM-DD')+'T'+obj.startTime,
                    end: j.format('YYYY-MM-DD')+'T'+obj.endTime,
                    color: this.programDiffColor ? '#'+intToRGB(hashCode(obj.name)) : 'hsl(0, 0%, 21%)'
                  })
                }
              }
            } else {
              // CSV Format
              // header: Subject, Start Date, Start time, End Date, End Time, All Day Event, Location
              // row: 期末考,05/30/2020, 10:00 AM, 05/30/2020, 1:00 PM, False, Location
              if (obj.name != null) {
                let r = {
                  subject: obj.name,
                  startDate: startDate.format('MM/DD/YYYY'),
                  startTime: obj.startTime + ' ' + (obj.startTime > '12:00' ? 'PM' : 'AM'),
                  endDate: startDate.format('MM/DD/YYYY'),
                  endTime: obj.endTime + ' ' + (obj.endTime > '12:00' ? 'PM' : 'AM'),
                  allDayEvent: 'False',
                  location: obj.room,
                }
                this.csvContent += r.subject + ',' + r.startDate + ',' + r.startTime + ',' + r.endDate + ',' + r.endTime + ',' + r.allDayEvent + ',' + r.location + '\n'
              }
              this.events.push({
                title: obj.name + '\n' +obj.room,
                start: startDate.format('YYYY-MM-DD')+'T'+obj.startTime,
                end: startDate.format('YYYY-MM-DD')+'T'+obj.endTime,
                color: 'hsl(171, 100%, 41%)'
              })
            }
          }
        } else {
          for (let i in school.result) {
            for (let k in school.result[i]['courses']) {
              var obj = school.result[i]['courses'][k]
              var startDate = moment(obj.startDate.replace(/\//g, "-"), 'YYYY-MM-DD')
              var endDate = moment(obj.endDate.replace(/\//g, "-"), 'YYYY-MM-DD')

              if (this.form.classYear != '' && obj.year != this.form.classYear) continue

              if (obj.endDate != '') {
                for (
                  let j=startDate;
                  moment(j.format('YYYY-MM-DD')).isBetween(startDate.format('YYYY-MM-DD'), endDate.format('YYYY-MM-DD'), null, '[]');
                  j = j.add(1,'day'))
                {
                  if ($.inArray(j.day(), obj.days) >= 0) {
                    // CSV Format
                    // header: Subject, Start Date, Start time, End Date, End Time, All Day Event, Location
                    // row: 期末考,05/30/2020, 10:00 AM, 05/30/2020, 1:00 PM, False, Location
                    if (obj.name != null) {
                      let r = {
                        subject: obj.name,
                        startDate: j.format('MM/DD/YYYY'),
                        startTime: obj.startTime + ' ' + (obj.startTime > '12:00' ? 'PM' : 'AM'),
                        endDate: j.format('MM/DD/YYYY'),
                        endTime: obj.endTime + ' ' + (obj.endTime > '12:00' ? 'PM' : 'AM'),
                        allDayEvent: 'False',
                        location: obj.room,
                      }
                      this.csvContent += r.subject + ',' + r.startDate + ',' + r.startTime + ',' + r.endDate + ',' + r.endTime + ',' + r.allDayEvent + ',' + r.location + '\n'
                    }
                    this.events.push({
                      title: obj.name + '\n' +obj.room,
                      start: j.format('YYYY-MM-DD')+'T'+obj.startTime,
                      end: j.format('YYYY-MM-DD')+'T'+obj.endTime,
                      color: this.programDiffColor ? '#'+intToRGB(hashCode(obj.name)) : 'hsl(0, 0%, 21%)'
                    })
                  }
                }
              } else {
                // CSV Format
                // header: Subject, Start Date, Start time, End Date, End Time, All Day Event, Location
                // row: 期末考,05/30/2020, 10:00 AM, 05/30/2020, 1:00 PM, False, Location
                if (obj.name != null) {
                  let r = {
                    subject: obj.name,
                    startDate: startDate.format('MM/DD/YYYY'),
                    startTime: obj.startTime + ' ' + (obj.startTime > '12:00' ? 'PM' : 'AM'),
                    endDate: startDate.format('MM/DD/YYYY'),
                    endTime: obj.endTime + ' ' + (obj.endTime > '12:00' ? 'PM' : 'AM'),
                    allDayEvent: 'False',
                    location: obj.room,
                  }
                  console.log(r.startTime)
                  this.csvContent += r.subject + ',' + r.startDate + ',' + r.startTime + ',' + r.endDate + ',' + r.endTime + ',' + r.allDayEvent + ',' + r.location + '\n'
                }
                this.events.push({
                  title: obj.name + '\n' +obj.room,
                  start: startDate.format('YYYY-MM-DD')+'T'+obj.startTime,
                  end: startDate.format('YYYY-MM-DD')+'T'+obj.endTime,
                  color: 'hsl(171, 100%, 41%)'
                })
              }
            }
          }
        }

        $('#calendar').remove()
        $('#main').append($('<div id="calendar"></div>'))
        this.renderCalendar()
      },
      isShowClass(classNum) {
        if (this.form.classYear == '') {
          return true
        } else {
          if (classNum.substring(0,1) == this.form.classYear)
            return true
          return false
        }
      },
      exportCsv() {
        window.open(encodeURI(this.csvEncodeUri+this.csvContent), '_self')
      }
    }
  })
});
</script>
</html>
